.title {
  color: #292f36;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  border-left: 10px solid #e1e6ea; }
